<!--
León Sebastián Ruiz Pulgarín

Componente - hero2
-->

<!--Esta es la sección del segundo hero, aqui se hace uso de diferentes
clases para acomodar el hero de manera responsiva, el contenido con las
diferentes variables y el botón-->

<section class="hero2-section">
    <div class="hero2-content">
        <h1 class="hero2-title">¡Haz parte de nuestra comunidad!</h1>
        <p class="hero2-subtitle">
            Ingresa a nuestra comunidad para participar en el foro social,
            interactuar con usuarios, enterarte de noticias relacionadas con
            el agro colombiano y participar en eventos agrícolas.
        </p>
        <div class="hero2-buttons">
            <a href="#" class="hero2-button primary">Foro social</a>
            <a href="#" class="hero2-button primary">Eventos</a>
        </div>
    </div>
</section>